@media (min-width: 320px) {
  .div {
    font-size: 15px;
  }
}

@media (min-width: 641px) {
  .div {
    font-size: 32px;
  }
}

div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}